*{
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box !important;
    outline: none;
}
.header-section {
    position: fixed;
    top: 0;
    z-index: 999;
}
.hero-section-content{
    margin: 250px 0 100px;
}
.header-section .header-hero-section {
    margin-top: 32px;
}
.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.w-100 {
    width: 100% !important;
}
.navbar{
    background: linear-gradient(to right,#179C6D 50%,#19355F 100%);
}
.header-section img {
    max-width: 30%;
    height: auto;
}
.header-section img,
.header-section svg {
    vertical-align: middle;
}
.align-items-center {
    align-items: center !important;
}
.header-section.header-menu .single-item {
    position: relative;
}
.rotate_eff {
    transition: 0s;
}
.nw1-color {
    color: rgba(var(--nw1), 1);
}
.flex-nowrap {
    flex-wrap: nowrap !important;
}
.fs-six-up {
    font-size: 18px;
}
.ti {
    font-family: "tabler-icons" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.hero--section{
    background-image: linear-gradient(90deg, #179c6dbf 0%, #19355f 100%) , url('../img/footer-top.jpg') !important;
    background-size: 100% !important;
    background-position: center;
    background-color: #022091;
    padding: 0 80px;
}
.hero--section h1{
    font-size: 72px !important;
}
.hero--section .hero-section-text{
    font-size: 17px !important;
}
.widget-outer{
    position: relative;
    background: #179C6D;
    border-radius: 10px;
    padding: 30px;
}
.widget-outer .content-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 22.77px;
    text-align: center;    
}
.widget-outer .widget-count{
    position: absolute;
    left: 42%;
    top: -30px;
    background: white;
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #179C6D;
    font-size: 26px;
    font-weight: 700;
}
.price-up{
    color: #19355F !important;
}
.badge-buy{
    background-color: #19355F;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
}
.badge-sell{
    background-color: #C90E0E;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
}
.trending--products--section{
    padding: 120px 0;
}
.trending--products .trending-header {
    font-size: 16px;
    font-weight: 600;
}
.trending--products .trending-title {
    color: #333333;
    font-size: 32px;
    font-weight: 600;
}
.trending--products--section .card{    
    border: 0;
    box-shadow: 0px 22px 92px 0px #B2B2B21A;    
}
.trending-header-img{
    background: #009c6f;
    border-radius: 50%;
    padding: 15px;
    width: 70px;
    height: 70px;
}
.trading-potential-section .swiper-button-next, .trading-potential-section .swiper-button-prev{
    position: inherit;
}
.trading-potential-section .swiper-button-prev:after, .trading-potential-section .swiper-button-next:after{
    content : '';
}
.download-app-section{
    background-image: url('../img/network-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.download-app-section .download-app-info {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.download-app-section .download-app-info span{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #19355F;
}
.download-app-section .download-application {
    border : 1px solid #19355F;
    border-radius: 10px;
}
.download-app-section .download-application .download-info{
    color: #19355F;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
}
.download-app-section .download-application .application-name{
    color: #19355F;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.about-our-facilities-section{
    background: linear-gradient(99.85deg, #19355F 38.1%, #1F447C 70.59%, #2A60AF 100%);
}
.about-our-facilities-section .facilities-section .facility-info{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    min-height: 290px;
}
.about-our-facilities-section .facilities-section .facility-info h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 27.83px;
    text-align: center;
}
.about-our-facilities-section .facilities-section .facility-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #E7E7E7;
}
.partnership-info-section .partnership-info-content .partnership-content{
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: #333333;
}
.partnership-info-content .partnership-image{
    margin-right: 50px;
}
.partnership-info-content .partnership-image::before{
    position: absolute;
    content: '';
    border: 2px dashed #179C6D;
    width: 100%;
    height: 100%;
    top: -20px;
    right: -20px;
    z-index: -1;
    border-radius: 15px;
}
.partner-info-content h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;    
    color: #333333;
}
.partner-info-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;    
    color: #666666;
}
@media (min-width: 1400px){
    .main-outer-wrapper .header-section{
        padding: 0 80px;
    }
}
@media (min-width: 1400px){

}
@media (max-width: 1399px){
    .header-section .navbar{
        max-width: 1370px;
    }
    .main-outer-wrapper .header-section{
        padding: 0 15px;
    }
}
@media (max-width: 1199px){
    .header-section .navbar{
        max-width: 1170px;
    }
}
@media (min-width: 992px){
    .a2-lg-bg {
        background: linear-gradient(to right,#179C6D 50%,#19355F 100%);
    }
    .p-lg-5 {
        padding: 1.25rem !important;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}
@media (max-width: 991px){
    .header-section .navbar{
        max-width: 962px;
    }
}
@media (min-width: 768px){
    
}
@media (max-width: 767px){
    .header-section .navbar{
        max-width: 738px;
    }
}
@media (min-width: 576px){
    
}
@media (max-width: 575px){
    .header-section .navbar{
        max-width: 546px;
    }
}